@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
margin:0px;
padding:0px;
box-sizing: border-box;
font-family: 'Poppins', sans-serif; 
}
.header
{
width:100%;
height:80px;
display:block;
background-color:#101010;
}
.inner_header
{
width:1000px;
height:100%;
display:block;
margin:0 auto;
}
.logo_container
{
height:100%;
display:table;
float:left; 
}

.logo_container h1
{
color:white;
height:100%;
display:table-cell;
vertical-align:middle;
font-family:Montserrat;
font-size:32px;
font-weight:200;
}
.navigation
{
float:right;
height:100%;
}
.navigation a
{
text-decoration: none;
height:100%;
display:table;
float:left;
padding :0px 20px;
}

.navigation a :last-child
{
padding-right:0;
}

.navigation a li
{
display:table-cell;
vertical-align:middle;
height:100%;
color:white;
font-family:Montserrat;
font-size:16px;
}


.logo_container h1 span
{
font-weight:800;
}



.section
{
width: 100%;
min-height: 100vh;
background-color:#ddd; 
}

.service
{
  background-color:#ddd;
}
.container
{
width: 90%;
display : block;
margin: auto;
padding-top: 100px; 
}
.content-section
{
float:left;
width:55%;
}
.image-section
{
float:right;
width: 40%;
}
.image-section img
{
width:100%;
height :auto;
} 
.content-section .title
{
text-transform: uppercase;
font-size:28px;
}

.content-section .content h3
{
margin-top:20px;
color:#5d5d5d;
font-size:21px;
}
.content-section .content p
{
margin-top:10px;
font-family:sans-serif;
font-size:18px;
line-height:1.5;
}

.content-section .content .button
{
margin-top:30px;
}

.content-section .content .button a
{
background-color:#3d3d3d;
padding:12px 40px;
text-decoration:none;
color:#fff;
font-size:25px;
letter-spacing:1.5px;
font-weight: bold;
}
.content-section .content .button a:hover
{
background-color:#a52a2a;
color:#fff; 
}
.content-section .social
{
margin:40px 40px;
}

.content-section .social i
{
color:#a52a2a;
font-size:30px;	 
padding:0px 10px;
}

.content-section .social i:hover
{
color:3d3d3d; 
}

@media screen and (max-width: 768 px)
{
.container
{
width: 80%;
display : block;
margin: auto;
padding-top: 50px; 
}
.content-section
{
float:none;
width:100%;
display : block;  
margin:auto;
}
.image-section
{
float:none;
width:100%;
display : block;  
margin:auto;
}
.content-section .title
{
text-transform: center;
font-size:19px;
}
.content-section .content .button
{
text-align:center;
}
}

html,
body,
img,
figure {
  max-width: 100%;
}
html,
body {
  overflow-x: hidden;
  color: #000;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
a {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.ct-u-paddingTop10 {
  padding-top: 10px !important;
}
.ct-footer {
  background-color: #111;
  padding-top: 70px;
  margin-top: 20px;
  position: relative;
}
.ct-footer-pre {
  width: 100%;
  padding-bottom: 55px;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ct-footer-pre span {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ebebeb;
  font-size: 30px;
}
.ct-footer-pre .form-group {
  position: relative;
  margin: 0;
}
.ct-footer-pre .form-group:before,
.ct-footer-pre .form-group:after {
  content: '';
  display: table;
}
.ct-footer-pre .form-group:after {
  clear: both;
}
.ct-footer-pre .form-group input {
  border: 1px solid #00bff3;
  background-color: #333;
  color: #fff;
  height: 50px;
  padding: 0 30px;
  margin: 0 5px;
  border-radius: 0 !important;
}
.ct-footer-pre .form-group button {
  height: 50px;
  position: relative;
  width: 80px;
  padding: 0
}
.ct-footer-list {
  padding: 50px 0;
  list-style: none;
  padding-left: 0;
  display: table;
  width: 100%;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ct-footer-list > li .ct-footer-list-header {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #00bff3;
  font-size: 30px;
}
.ct-footer-list > li ul {
  list-style: none;
  padding-left: 0;
}
.ct-footer-list > li ul li a {
  color: #fff;
}
.ct-footer-list > li ul li a:hover,
.ct-footer-post a:hover {
  text-decoration: underline;
}
.ct-footer-post {
  background: #000;
  padding: 30px 0;
}
.ct-footer-post .inner-left,
.ct-footer-post .inner-right {
  padding: 20px 0;
}
.ct-footer-post ul {
  list-style: none;
  padding-left: 0;
  margin: 0 -20px;
}
.ct-footer-post ul li {
  display: inline-block;
  margin: 0 20px;
}
.ct-footer-post a {
  color: #fff;
}
.ct-footer-post p {
  color: #fff;
}
.ct-footer-meta {
  padding-top: 30px;
}
.ct-footer-meta .ct-socials {
  padding: 20px 0;
}
.ct-footer-meta .ct-socials li {
  padding: 0 3px;
}
.ct-footer--with-button {
  padding-top: 150px;
}
address {
  color: #fff;
  display: inline-block;
}
address span {
  font-weight: 600;
}
address a {
  color: #fff;
}
address a:hover {
  text-decoration: underline;
}
.btn {
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  color: #111;
  font-size: 26px;
  padding: 12px 30px;
}
.btn.btn-motive {
  background-color: #00bff3;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-motive:hover,
.btn.btn-motive:hover:active {
  background-color: #00bff3;
}
.btn.btn-violet {
  color: #fff;
  background-color: #4f4f99;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-violet:hover {
  background-color: #37376b;
}
.btn.btn-violet:hover:active {
  background-color: #2f2f5b
}
.btn.btn-green {
  color: #fff;
  background-color: #43670f;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-green:hover {
  background-color: #36520c;
}
.btn.btn-green:hover:active {
  background-color: #314a0b;
}
.btn.btn-red {
  color: #fff;
  background-color: #da2229;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-red:hover {
  background-color: #ae1b21;
}
.btn.btn-red:hover:active {
  background-color: #9d181e
}
.btn.btn-white {
  background-color: #fff;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-white:hover {
  background-color: #d9d9d9;
}
.btn.btn-white:hover:active {
  background-color: #c9c9c9
}
.btn.btn-large {
  padding: 20px 50px;
  font-size: 30px;
  white-space: normal;
}
.ct-mediaSection {
  background-attachment: fixed;
}
.ct-section_header--type1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  font-size: 115px;
  text-transform: uppercase;
}
.ct-section_header--type2 small {
  font-family: 'coquette', fantasy;
  font-size: 58px;
  line-height: .7;
  display: block;
  font-weight: 700;
  position: relative;
  left: -12px;
}
.ct-section_header--type2 span {
  font-family: 'Bebas Neue';
  font-size: 115px;
  line-height: .8;
}
.ct-section_header--type2 img {
  display: inline-block;
  float: left;
  position: relative;
  top: 15px;
  padding-right: 3px;
}
.ct-section_header--type3 {
  text-align: center;
}
.ct-section_header--type3 small {
  font-family: 'coquette', fantasy;
  font-size: 50px;
  padding: 15px 0;
  font-weight: 700;
  color: #fff;
  background-image: url("../images/aboutus.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block
}
.ct-section_header--type3 span {
  font-family: 'Bebas Neue';
  font-size: 150px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: .85
}
.ct-section_header--type4 {
  text-align: center;
}
.ct-section_header--type4:before,
.ct-section_header--type4:after {
  content: '';
  display: table
}
.ct-section_header--type4:after {
  clear: both
}
.ct-section_header--type4 small {
  font-family: 'coquette', fantasy;
  font-size: 50px;
  color: inherit;
  font-weight: 700;
  display: block
}
.ct-section_header--type4 span {
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-weight: 400;
  font-weight: bold;
  font-size: 150px;
  text-transform: uppercase;
  display: block;
  line-height: .7
}
.ct-section_header + p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
}
.ct-section_header--type4 + p {
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

/* Media Queries */
}

.card{
  border: none;
  outline: none;
}

.card p{
  color: gray;
}
.circle{
  height: 70px;
  width: 70px;
  background-color: lightgray;
  padding: 12px;
  display: inline-block;
  margin-bottom:20px;
  border-radius: 50%;
}
.fas{
  size: 15px;
}
.card:hover .circle{
  background-color: #000;
  color: white;
  transition: 0.5s;
}